<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Основное меню</title>
  </head>
  <body><table><caption>Телефонный справочник</caption><tr>
<td>№</td><th>Фамилия</th><th>Имя</th><th>Телефон</th><th>Описание</th>
</tr><tr>
<td>0.</td><td>Test</td><td>Test</td><td>8988</td><td>test
</td><td><form method="post" action="/delete"><input type="submit" name="idx" value="0"></form></td>
</tr><tr>
<td>1.</td><td>Test</td><td>Test</td><td>8988</td><td>test
</td><td><form method="post" action="/delete"><input type="submit" name="idx" value="1"></form></td>
</tr><tr>
<td>2.</td><td>Test2</td><td>Test2</td><td>8988</td><td>test
</td><td><form method="post" action="/delete"><input type="submit" name="idx" value="2"></form></td>
</tr></table>  </body>
</html><form method="post" action="/add"><input type="text" name="val_0" value=""/>
<input type="text" name="val_1" value=""/>
<input type="text" name="val_2" value=""/>
<input type="text" name="val_3" value=""/>    <input type="submit"></form>